<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IAttachProjectDao">
	<resultMap id="attProjectResultMap" type="com.mingdao.domain.AttachProject">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
        <result property="price" javaType="double" jdbcType="DOUBLE" column="price"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>

	
	<insert id="insertVO" parameterType="com.mingdao.domain.AttachProject" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO attach_project
        (storeid,code,name,price,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{storeId},#{code},#{name},#{price},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.AttachProject">
	    UPDATE attach_project SET
        <if test="storeId!=null"> storeid=#{storeId},</if>
        <if test="code!=null"> code=#{code},</if>
        <if test="name!=null">  name=#{name},</if>
        <if test="price!=null">  price=#{price},       </if>
        <if test="creator!=null">  creator=#{creator},</if>
        <if test="createTime!=null">  createtime=#{createTime},</if>
        <if test="createTime!=null">  modifier=#{modifier},</if>
        <if test="modifiedTime!=null">  modifiedtime=#{modifiedTime}</if>
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="attProjectResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.storeid,
          t.price,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  attach_project t where 1=1
           <if test="id != '' and id != null">
              and t.id=#{id}
           </if>
           <if test="code !='' and code != null">
              and t.code=#{code}
           </if>
           <if test="name !='' and name != null">
              and t.name=#{name}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from attach_project t where 1=1
           <if test="id != '' and id != null">
              and t.id=#{id}
           </if>
           <if test="code !='' and code != null">
              and t.code=#{code}
           </if>
           <if test="name !='' and name != null">
              and t.name=#{name}
           </if>
	</select>

    <delete id="deleteDocById" parameterType="int">
        delete from attach_project  where id = #{id}
    </delete>
</mapper>