<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.ICustSourceDao">
	<resultMap id="custSourceResultMap" type="com.mingdao.domain.CustSource">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>

	
	<insert id="insertVO" parameterType="com.mingdao.domain.CustSource" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO cust_source
        (storeid,code,name,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{storeId},#{code},#{name},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	
	<update id="updateVO" parameterType="com.mingdao.domain.CustSource">
	    UPDATE cust_source SET
            <if test="code!=null"> code=#{code},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="creator!=null">creator=#{creator},</if>
            <if test="createTime!=null">createtime=#{createTime},</if>
            <if test="modifier!=null">modifier=#{modifier},</if>
            <if test="modifiedTime!=null">modifiedtime=#{modifiedTime} </if>
        WHERE id=#{id}
	</update>		
	
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="custSourceResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  cust_source t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>                      
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
	<select id="batchQueryByCondition" parameterType="java.util.Map" resultMap="custSourceResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  cust_source t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>                      
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from cust_source t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>                      
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
    <delete id="deleteDocById" parameterType="long">
        delete from cust_source  where id = #{id}
    </delete>

	<select id="queryById" parameterType="long" resultMap="custSourceResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  cust_source t where id=#{id}
	</select>

	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="custSourceResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
		FROM cust_source t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>                      
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>	
</mapper>