<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.domain.ICustTypeDao">
	<resultMap id="custTypeResultMap" type="com.mingdao.domain.CustType">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
	    <result property="storeId" javaType="long" jdbcType="INTEGER" column="storeid"/>
		<result property="creator" javaType="long" jdbcType="INTEGER" column="creator"/>
		<result property="createTime" javaType="string" jdbcType="VARCHAR" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="INTEGER" column="modifier"/>
		<result property="modifiedTime" javaType="string" jdbcType="VARCHAR" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.CustType" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO custtype
        (code,name,storeid,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{code},#{name},#{storeId},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.CustType">
	    UPDATE custtype SET
          code=#{code},
          name=#{name},
          storeid=#{storeId},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="custTypeResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.storeid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  custtype t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
	
</mapper>