<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.ICustomerDao">
	<resultMap id="customerResultMap" type="com.mingdao.domain.Customer">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="wxNickName" javaType="string" jdbcType="VARCHAR" column="wxnickname"/>
		<result property="birthday" javaType="string" jdbcType="VARCHAR" column="birthday"/>
		<result property="phone" javaType="string" jdbcType="VARCHAR" column="phone"/>
		<result property="identityId" javaType="string" jdbcType="VARCHAR" column="identityid"/>
		<result property="custSourceId" javaType="long" jdbcType="BIGINT" column="custsourceid"/>
		<result property="custTypeId" javaType="long" jdbcType="BIGINT" column="custtypeid"/>
		<result property="lpr" javaType="boolean" jdbcType="BOOLEAN" column="lpr"/>
		<result property="sex" javaType="int" jdbcType="INTEGER" column="sex"/>
		<result property="address" javaType="string" jdbcType="VARCHAR" column="address"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.Customer" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO customer
        (storeid,name,code,wxnickname,birthday,phone,identityid,custsourceid,custtypeid,lpr,sex,address,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{storeId},#{name},#{code},#{wxNickName},#{birthday},#{phone},#{identityId},#{custSourceId},#{custTypeId},#{lpr},#{sex},#{address},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.Customer">
	    UPDATE customer SET
          storeid=#{storeId},
          name=#{name},
          code=#{code},
          wxnickname=#{wxNickName},
          birthday=#{birthday},
          phone=#{phone},
          identityid=#{identityId},
          custsourceid=#{custSourceId},
          custtypeid=#{custTypeId},
          lpr=#{lpr},
          sex=#{sex},
          address=#{address},                    
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="customerResultMap">
		SELECT
          t.id,
          t.storeid,
          t.name,
          t.code,
          t.wxnickname,
          t.birthday,
          t.phone,
          t.identityid,
          t.custsourceid,
          t.custtypeid,
          t.lpr,
          t.sex,
          t.address,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  customer t where 1=1
           <if test="id != '' and id != null">
              and t.id=#{id}
           </if>
           <if test="code != '' and code != null">
              and t.code=#{code}
           </if>
           <if test="phone != '' and phone != null">
              and t.phone=#{phone}
           </if>
           <if test="name != '' and name != null">
                and t.name=#{name}
            </if>
	</select>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="customerResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.name,
          t.code,
          t.wxnickname,
          t.birthday,
          t.phone,
          t.identityid,
          t.custsourceid,
          t.custtypeid,
          t.lpr,
          t.sex,
          t.address,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  customer t where 1=1
           <if test="id != '' and id != null">
              and t.id=#{id}
           </if>
           <if test="code != '' and code != null">
              and t.code=#{code}
           </if>
            <if test="phone != '' and phone != null">
                and t.phone=#{phone}
            </if>
            <if test="name != '' and name != null">
                and t.name=#{name}
            </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from customer t where 1=1
           <if test="id != '' and id != null">
              and t.id=#{id}
           </if>
           <if test="code != '' and code != null">
              and t.code=#{code}
           </if>
            <if test="phone != '' and phone != null">
                and t.phone=#{phone}
            </if>
            <if test="name != '' and name != null">
                and t.name=#{name}
            </if>
	</select>
</mapper>