<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.nccloud.dao.search.IIndIndexAliasDao">
	<resultMap type="com.yonyou.nccloud.search.vo.IndexAlias" id="resultMap">
		<id property="id" column="id"/>
        <result property="tenantid" column="tenantid" jdbcType="BIGINT"/>
        <result property="indexName" column="indexName" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="LONGVARCHAR"/>
        <result property="modifiedtime" column="modifiedtime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<select id="findIndexNameByAlias" resultMap="resultMap">
		SELECT indexName
		FROM ind_index_alias
		WHERE alias = #{alias}
	</select>
	<insert id="insertIndexAlia" parameterType="com.yonyou.nccloud.search.vo.IndexAlias">
		INSERT ind_index_alias 
		(indexName,alias,info,modifiedtime)
		VALUES
		(#{indexName},#{alias},#{info},now())
	</insert>	
	<update id="updatetIndexAlias" parameterType="com.yonyou.nccloud.search.vo.IndexAlias">
		UPDATE ind_index_alias 
		SET
		indexName 	 = #{indexName},
		info 	  	 = #{info},
		modifiedtime =   now()
		WHERE
		alias	 = #{alias}
	</update>
</mapper>