<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.nccloud.dao.search.IIndSuggestDao">

	<select id="queryAll" resultType="com.alibaba.fastjson.JSONObject">
		select * from ind_suggest
	</select>

	<insert id="insertVOs" parameterType="java.util.Arrays">
		insert into ind_suggest
		(id,keyword,relate_word,source,plat_id,ts)
		<foreach collection="array" item="bill" index="index"
			separator="union all">
			select
			#{bill.id,jdbcType=VARCHAR},
			#{bill.keyword,jdbcType=VARCHAR},
			#{bill.relate_word,jdbcType=VARCHAR},
			#{bill.source,jdbcType=VARCHAR},
			#{plat_id,jdbcType=VARCHAR},
			CURRENT_TIMESTAMP
			from dual
		</foreach>
	</insert>

</mapper>