<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.nccloud.dao.search.IMaterialClassMapVODao">
	<insert id="insertMaterialClassMapVO" parameterType="com.yonyou.nccloud.search.vo.MaterialClassMapVO">
		INSERT INTO materialclass_map 
		(srcid,srcname,srccode,srclevel,parentsrcid,desid,desname,deslevel,parentdesid)
		VALUES
		(#{srcid},#{srcname},#{srccode},#{srclevel},#{parentsrcid},#{desid},#{desname},#{deslevel},#{parentdesid})
	</insert>
</mapper>