<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IMemberShipCardDao">
	<resultMap id="mscResultMap" type="com.mingdao.domain.MemberShipCard">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="code" javaType="string" jdbcType="VARCHAR" column=""code""/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
		<result property="cardRecharge" javaType="double" jdbcType="DOUBLE" column="cardrecharge"/>
		<result property="cardDonate" javaType="double" jdbcType="DOUBLE" column="carddonate"/>
		<result property="expire" javaType="int" jdbcType="INTEGER" column="expire"/>
		<result property="timeUnit" javaType="int" jdbcType="INTEGER" column="timeunit"/>				
		<result property="cardPicture" javaType="string" jdbcType="VARCHAR" column="cardpicture"/>
		<result property="shareToBranch" javaType="boolean" jdbcType="BOOLEAN" column="sharetobranch"/>				
		<result property="source" javaType="int" jdbcType="INTEGER" column="source"/>
		<result property="bindPackage" javaType="long" jdbcType="BIGINT" column="bindpackage"/>		
		<result property="status" javaType="int" jdbcType="INTEGER" column="status"/>
		<result property="memo" javaType="string" jdbcType="VARCHAR" column="memo"/>	
		<result property="long" javaType="string" jdbcType="BIGINT" column="creator"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
		<result property="long" javaType="string" jdbcType="BIGINT" column="modifier"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.MemberShipCard" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO membership_card
		(storeid,code,name,cardrecharge,carddonate,expire,timeunit,cardpicture,sharetobranch,source,bindpackage,status,memo,creator,createtime,modifier,modifiedtime)
		VALUES
		(#{storeId},#{code},#{name},#{cardRecharge},#{cardDonate},#{expire},#{timeUnit},#{cardPicture},#{shareToBranch},#{source},#{bindPackage},#{status},#{memo},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>

	
	<update id="updateVO" parameterType="com.mingdao.domain.MemberShipCard">
	    UPDATE membership_card SET
            <if test="storeId!=null"> pkgtypeid=#{storeId},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="code!=null">code=#{code},</if>
            <if test="cardRecharge!=null">cardrecharge=#{cardRecharge},</if>
            <if test="cardDonate!=null">carddonate=#{cardDonate},</if>
            <if test="expire!=null">expire=#{expire},</if>
            <if test="timeUnit!=null">timeunit=#{timeUnit},</if>
            <if test="cardPicture!=null">cardpicture=#{cardPicture},</if>
            <if test="shareToBranch!=null">sharetobranch=#{shareToBranch},</if>
            <if test="source!=null">source=#{source},</if>
            <if test="bindPackage!=null">bindpackage=#{bindPackage},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="memo!=null">memo=#{memo},</if>
            <if test="creator!=null">creator=#{creator},</if>
            <if test="createTime!=null">createtime=#{createTime},</if>
            <if test="modifier!=null">modifier=#{modifier},</if>
            <if test="modifiedTime!=null">modifiedtime=#{modifiedTime} </if>
        WHERE id=#{id}
	</update>	
	
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="mscResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.cardrecharge,
          t.carddonate,
          t.expire,
          t.timeunit,
          t.cardpicture,
          t.sharetobranch,
          t.source,
          t.bindpackage,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  membership_card t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="status != null">
              and t.status=#{status}
           </if>                 
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from membership_card t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="status != null">
              and t.status=#{status}
           </if> 
	</select>


    <delete id="deleteDocById" parameterType="long">
        delete from membership_card  where id = #{id}
    </delete>
	
	<select id="queryById" parameterType="long" resultMap="mscResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.cardrecharge,
          t.carddonate,
          t.expire,
          t.timeunit,
          t.cardpicture,
          t.sharetobranch,
          t.source,
          t.bindpackage,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime  
        FROM  membership_card t where id=#{id}
	</select>

	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="mscResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.cardrecharge,
          t.carddonate,
          t.expire,
          t.timeunit,
          t.cardpicture,
          t.sharetobranch,
          t.source,
          t.bindpackage,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime   
		FROM membership_card t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="status != null">
              and t.status=#{status}
           </if>  
	</select>	
	
	
</mapper>