<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IMemberShipCardDao">
	<resultMap id="mscResultMap" type="com.mingdao.domain.MemberShipCard">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
		<result property="cardRecharge" javaType="double" jdbcType="DOUBLE" column="cardrecharge"/>
		<result property="cardDonate" javaType="double" jdbcType="DOUBLE" column="carddonate"/>
		<result property="expire" javaType="int" jdbcType="INTEGER" column="expire"/>
		<result property="timeUnit" javaType="int" jdbcType="INTEGER" column="timeunit"/>				
		<result property="cardPicture" javaType="string" jdbcType="VARCHAR" column="cardpicture"/>
		<result property="shareToBranch" javaType="boolean" jdbcType="BOOLEAN" column="sharetobranch"/>				
		<result property="source" javaType="int" jdbcType="INTEGER" column="source"/>
		<result property="bindPackage" javaType="long" jdbcType="BIGINT" column="bindpackage"/>		
		<result property="status" javaType="int" jdbcType="INTEGER" column="status"/>
		<result property="memo" javaType="string" jdbcType="VARCHAR" column="memo"/>	
		<result property="long" javaType="string" jdbcType="BIGINT" column="creator"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
		<result property="long" javaType="string" jdbcType="BIGINT" column="modifier"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.MemberShipCard" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO membership_card
		(storeid,name,cardrecharge,carddonate,expire,timeunit,cardpicture,sharetobranch,source,bindpackage,status,memo,creator,createtime,modifier,modifiedtime)
		VALUES
		(#{storeId},#{name},#{cardRecharge},#{cardDonate},#{expire},#{timeUnit},#{cardPicture},#{shareToBranch},#{source},#{bindPackage},#{status},#{memo},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.MemberShipCard">
	    UPDATE membership_card SET
          storeid=#{storeId},
          name=#{name},
          cardrecharge=#{cardRecharge},
          carddonate=#{cardDonate},
          expire=#{expire},
          timeunit=#{timeUnit},
          cardpicture=#{cardPicture},
          sharetobranch=#{shareToBranch},
          source=#{source},
          bindpackage=#{bindPackage},
          status=#{status},
          memo=#{memo},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="mscResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.name,
          t.cardrecharge,
          t.carddonate,
          t.expire,
          t.timeunit,
          t.cardpicture,
          t.sharetobranch,
          t.source,
          t.bindpackage,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  membership_card t where 1=1
           <if test="id != null and id != ''">
              and t.id=#{id}
           </if>
           <if test="storeid != null and storeid != ''">
              and t.storeid=#{storeId}
           </if>
           <if test="name != null and name != ''">
              and t.name=#{name}
           </if>
           <if test="status != null and status != ''">
              and t.status=#{status}
           </if>                 
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from membership_card t where 1=1
           <if test="id != null and id != ''">
              and t.id=#{id}
           </if>
           <if test="storeid != null and storeid != ''">
              and t.storeid=#{storeId}
           </if>
           <if test="name != null and name != ''">
              and t.name=#{name}
           </if>
           <if test="status != null and status != ''">
              and t.status=#{status}
           </if> 
	</select>


    <delete id="deleteDocById" parameterType="long">
        delete from membership_card  where id = #{id}
    </delete>
	
</mapper>