<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IMenuDao">
	<resultMap id="menuResultMap" type="com.mingdao.domain.Menu">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
	    <result property="parentId" javaType="long" jdbcType="BIGINT" column="parentid"/>
	    <result property="status" column="status" typeHandler="com.mingdao.dao.base.typehandler.StatusEnumTypeHandler"/>
	    <result property="isLeafMenu" javaType="boolean" jdbcType="BOOLEAN" column="isleafmenu"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.Menu" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO menu
        (code,name,parent_code,isleafmenu,status,creator,createtime,modifier,modifiedtime,path,menu_level)
        VALUES
        (#{code},#{name},#{parentCode},#{isLeafMenu},#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{creator},#{createTime},#{modifier},#{modifiedTime},#{path},#{menuLevel})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.Menu">
	    UPDATE menu SET
        <if test="code!=null"> code=#{code},</if>
        <if test="name!=null"> name=#{name},</if>
        <if test="parentCode!=null"> parent_code=#{parentCode},</if>
        <if test="isLeafMenu!=null"> isleafmenu=#{isLeafMenu},</if>
        <if test="status!=null"> status=#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},</if>
        <if test="creator!=null"> creator=#{creator},</if>
        <if test="path!=null"> path=#{path},</if>
        <if test="menuLevel!=null"> menu_level=#{menuLevel},</if>
        <if test="createTime!=null"> createtime=#{createTime},</if>
        <if test="modifier!=null"> modifier=#{modifier},</if>
        <if test="modifiedTime!=null"> modifiedtime=#{modifiedTime}</if>
        WHERE id=#{id}
	</update>
	
	
	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="menuResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.parent_code,
          t.isleafmenu,
          t.status,
        t.path,
        t.menu_level,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  menu t where 1=1
           <if test="id !='' and id != null">
              and t.id=#{id}
           </if>
           <if test="code !='' and code != null">
              and t.code=#{code}
           </if>
            <if test="name !='' and name != null">
                and t.name=#{name}
            </if>
            <if test="parentCode !='' and parentCode != null">
                and t.parent_code=#{parentCode}
            </if>
	</select>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="menuResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.parent_code,
          t.isleafmenu,
          t.status,
          t.path,
          t.menu_level,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  menu t where 1=1
           <if test="id !='' and id != null">
              and t.id=#{id}
           </if>
           <if test="code !='' and code != null">
              and t.code=#{code}
           </if>
           <if test="name !='' and name != null">
              and t.name=#{name}
           </if>
            <if test="parentCode !='' and parentCode != null">
                and t.parent_code=#{parentCode}
            </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from menu t where 1=1
           <if test="id !='' and id != null">
              and t.id=#{id}
           </if>
           <if test="code !='' and code != null">
              and t.code=#{code}
           </if>
           <if test="name !='' and name != null">
              and t.name=#{name}
           </if>
            <if test="parentCode !='' and parentCode != null">
                and t.parent_code=#{parentCode}
            </if>
	</select>
	
	<delete id="deleteDocById" parameterType="long">
        delete from menu where id=#{id}
    </delete>	
</mapper>