<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IOrderProjectDao">
	<resultMap id="orderProjectResultMap" type="com.mingdao.domain.OrderProject">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
	    <result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
	    <result property="billno" javaType="string" jdbcType="VARCHAR" column="billno"/>
		<result property="orderPsnId" javaType="long" jdbcType="BIGINT" column="orderpsnid"/>
	    <result property="serviceProjectId" javaType="long" jdbcType="BIGINT" column="serviceprojectid"/>
	    <result property="orderTime" javaType="string" jdbcType="VARCHAR" column="ordertime"/>
	    <result property="carInfoId" javaType="long" jdbcType="BIGINT" column="carinfoid"/>
	    <result property="customerId" javaType="long" jdbcType="BIGINT" column="customerid"/>
	    <result property="source" javaType="int" jdbcType="INTEGER" column="source"/>
	    <result property="status" javaType="int" jdbcType="INTEGER" column="status"/>
	    <result property="meno" javaType="string" jdbcType="VARCHAR" column="meno"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.OrderProject" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO order_project
        (storeid,billno,orderpsnid,serviceprojectid,ordertime,carinfoid,customerid,source,status,meno,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{storeId},#{billno},#{orderPsnId},#{serviceProjectId},#{orderTime},#{carInfoId},#{customerId},#{source},#{statusr},#{meno},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.OrderProject">
	    UPDATE order_project SET
          storeid=#{storeId},
          billno=#{billno},
          orderpsnid=#{orderPsnId},
          serviceprojectid=#{serviceProjectId},
          ordertime=#{orderTime},
          carinfoid=#{carInfoId},
          customerid=#{customerId},          
          source=#{source},                 
          status=#{status},
          meno=#{meno},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	
	<select id="queryById" parameterType="long" resultMap="orderProjectResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.billno,
          t.orderpsnid,
          t.serviceprojectid,
          t.ordertime,
          t.carinfoid,
          t.customerid,         
          t.source,
          t.status,
          t.meno,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  order_project t where 1=1 and t.id=#{id}
	</select>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="orderProjectResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.billno,
          t.orderpsnid,
          t.serviceprojectid,
          t.ordertime,
          t.carinfoid,
          t.customerid,         
          t.source,
          t.status,
          t.meno,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  order_project t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="customerid != null">
              and t.customerid=#{customerId}
           </if>
           <if test="status != null">
                and t.status=#{status}
           </if>
           <if test="billno != '' and billno != null">
                and t.billno=#{billno}
           </if>          
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from order_project t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="customerid != null">
              and t.customerid=#{customerId}
           </if>
           <if test="status != null">
                and t.status=#{status}
           </if>
           <if test="billno != '' and billno != null">
                and t.billno=#{billno}
           </if>  
	</select>
	
    <delete id="deleteDocById" parameterType="long">
        delete from order_project  where id = #{id}
    </delete>	
</mapper>