<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IOrderProjectDao">
	<resultMap id="orderProjectResultMap" type="com.mingdao.domain.OrderProject">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
	    <result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
	    <result property="billno" javaType="string" jdbcType="VARCHAR" column="billno"/>
		<result property="orderUserId" javaType="long" jdbcType="BIGINT" column="orderuserid"/>
	    <result property="serviceProjectId" javaType="long" jdbcType="BIGINT" column="serviceprojectid"/>
	    <result property="orderTime" javaType="string" jdbcType="VARCHAR" column="ordertime"/>
	    <result property="carNo" javaType="string" jdbcType="VARCHAR" column="carno"/>
	    <result property="customerId" javaType="long" jdbcType="BIGINT" column="customerid"/>
	    <result property="source" javaType="com.mingdao.enumprop.Source" jdbcType="INTEGER" column="source" typeHandler="com.mingdao.dao.base.typehandler.SourceEnumTypeHandler"/>
	    <result property="status" javaType="com.mingdao.enumprop.OrderStatus" jdbcType="INTEGER" column="status" typeHandler="com.mingdao.dao.base.typehandler.OrderStatusEnumTypeHandler"/>
	    <result property="meno" javaType="string" jdbcType="VARCHAR" column="meno"/>
	    <result property="linkmanName" javaType="string" jdbcType="VARCHAR" column="linkmanname"/>
	    <result property="linkTel" javaType="string" jdbcType="VARCHAR" column="linktel"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.OrderProject" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO order_project
        (storeid,billno,orderuserid,serviceprojectid,ordertime,carno,customerid,source,status,meno,linkmanname,linktel,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{storeId},#{billno},#{orderUserId},#{serviceProjectId},#{orderTime},#{carNo},#{customerId},#{source,typeHandler=com.mingdao.dao.base.typehandler.SourceEnumTypeHandler},#{status,typeHandler=com.mingdao.dao.base.typehandler.OrderStatusEnumTypeHandler},#{meno},#{linkmanName},#{linkTel},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.OrderProject">
	    UPDATE order_project SET
          storeid=#{storeId},
          billno=#{billno},
          orderuserid=#{orderUserId},
          serviceprojectid=#{serviceProjectId},
          ordertime=#{orderTime},
          carno=#{carNo},
          customerid=#{customerId},          
          source=#{source,typeHandler=com.mingdao.dao.base.typehandler.SourceEnumTypeHandler},                 
          status=#{status,typeHandler=com.mingdao.dao.base.typehandler.OrderStatusEnumTypeHandler},
          meno=#{meno},
          linkmanname=#{linkmanName},
          linktel=#{linkTel},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="orderProjectResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.billno,
          t.orderuserid,
          t.serviceprojectid,
          t.ordertime,
          t.carno,
          t.customerid,         
          t.source,
          t.status,
          t.meno,
          t.linkmanname,
          t.linktel,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  order_project t where 1=1
           <if test="id != '' and id != null">
              and t.id=#{id}
           </if>
           <if test="customerid != '' and customerid != null">
              and t.customerid=#{customerId}
           </if>
           <if test="orderuserid != '' and orderuserid != null">
                and t.orderuserid=#{orderuserid}
           </if>
           <if test="serviceprojectid != '' and serviceprojectid != null">
                and t.serviceprojectid=#{serviceprojectid}
           </if>
           <if test="status != '' and status != null">
                and t.status=#{status}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from order_project t where 1=1
        <if test="orderuserid != '' and orderuserid != null">
            and t.orderuserid=#{orderuserid}
        </if>
        <if test="serviceprojectid != '' and serviceprojectid != null">
            and t.serviceprojectid=#{serviceprojectid}
        </if>
        <if test="status != '' and status != null">
            and t.status=#{status}
        </if>
	</select>
	
	
</mapper>