<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingdao.dao.base.IPackageTypeDao">
	<resultMap id="ptResultMap" type="com.mingdao.domain.PackageType">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
		<result property="salePrice" javaType="double" jdbcType="DOUBLE" column="saleprice"/>
		<result property="totalCount" javaType="int" jdbcType="INTEGER" column="totalcount"/>
		<result property="expire" javaType="int" jdbcType="INTEGER" column="expire"/>
		<result property="timeUnit" javaType="int" jdbcType="INTEGER" column="timeunit"/>
		<result property="cost" javaType="double" jdbcType="DOUBLE" column="cost"/>
		<result property="shareToBranch" javaType="boolean" jdbcType="BOOLEAN" column="sharetobranch"/>
		<result property="source" javaType="int" jdbcType="INTEGER" column="source"/>
		<result property="status" javaType="int" jdbcType="INTEGER" column="status"/>
		<result property="memo" javaType="string" jdbcType="VARCHAR" column="memo"/>	
		<result property="long" javaType="string" jdbcType="BIGINT" column="creator"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
		<result property="long" javaType="string" jdbcType="BIGINT" column="modifier"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.PackageType" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO packagetype
		(storeid,code,name,saleprice,totalcount,expire,timeunit,cost,sharetobranch,source,status,memo,creator,createtime,modifier,modifiedtime)
		VALUES
		(#{storeId},#{code},#{name},#{salePrice},#{totalCount},#{expire},#{timeUnit},#{shareToBranch},#{source},#{status},#{memo},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	

	<update id="updateVO" parameterType="com.mingdao.domain.PackageType">
	    UPDATE packagetype SET
	        <if test="storeId!=null"> storeid=#{storeId},</if>
            <if test="code!=null">code=#{code},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="salePrice!=null">saleprice=#{salePrice},</if>
            <if test="totalCount!=null">totalcount=#{totalCount},</if>
            <if test="expire!=null">expire=#{expire},</if>
            <if test="timeUnit!=null">timeunit=#{timeUnit},</if>
            <if test="shareToBranch!=null">sharetobranch=#{shareToBranch},</if>
            <if test="source!=null">source=#{source},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="memo!=null">memo=#{memo},</if>
            <if test="creator!=null">creator=#{creator},</if>
            <if test="createTime!=null">createtime=#{createTime},</if>
            <if test="modifier!=null">modifier=#{modifier},</if>
            <if test="modifiedTime!=null">modifiedtime=#{modifiedTime} </if>
        WHERE id=#{id}
	</update>

	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="ptResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.saleprice,
          t.totalcount,
          t.expire,
          t.timeunit,
          t.sharetobranch,
          t.source,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  packagetype t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>
           <if test="status != null">
              and t.status=#{status}
           </if>
           <if test="source != null">
              and t.source=#{source}
           </if>                                        
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from packagetype t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>
           <if test="status != null">
              and t.status=#{status}
           </if>
           <if test="source != null">
              and t.source=#{source}
           </if>
	</select>

    <delete id="deleteDocById" parameterType="long">
        delete from packagetype  where id = #{id}
    </delete>

	<select id="queryById" parameterType="long" resultMap="ptResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.saleprice,
          t.totalcount,
          t.expire,
          t.timeunit,
          t.sharetobranch,
          t.source,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  packagetype t where id=#{id}
	</select>

	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="ptResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.code,
          t.name,
          t.saleprice,
          t.totalcount,
          t.expire,
          t.timeunit,
          t.sharetobranch,
          t.source,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
		FROM packagetype t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>
           <if test="status != null">
              and t.status=#{status}
           </if>
           <if test="source != null">
              and t.source=#{source}
           </if>
	</select>
</mapper>