<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingdao.dao.base.IPackageTypeDao">
	<resultMap id="ptResultMap" type="com.mingdao.domain.PackageType">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
		<result property="salePrice" javaType="double" jdbcType="DOUBLE" column="saleprice"/>
		<result property="count" javaType="int" jdbcType="INTEGER" column="count"/>
		<result property="expire" javaType="int" jdbcType="INTEGER" column="expire"/>
		<result property="timeUnit" column="timeunit" typeHandler="com.mingdao.dao.base.typehandler.TimeUnitEnumTypeHandler"/>
		<result property="shareToBranch" javaType="boolean" jdbcType="BOOLEAN" column="sharetobranch"/>
		<result property="source" column="source" typeHandler="com.mingdao.dao.base.typehandler.MemberShipSourceEnumTypeHandler"/>
		<result property="status" column="status" typeHandler="com.mingdao.dao.base.typehandler.StatusEnumTypeHandler"/>
		<result property="memo" javaType="string" jdbcType="VARCHAR" column="memo"/>	
		<result property="long" javaType="string" jdbcType="BIGINT" column="creator"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
		<result property="long" javaType="string" jdbcType="BIGINT" column="modifier"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.PackageType" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO packagetype
		(storeid,name,saleprice,count,expire,timeunit,sharetobranch,source,status,memo,creator,createtime,modifier,modifiedtime)
		VALUES
		(#{storeId},#{name},#{salePrice},#{count},#{expire},#{timeUnit,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{shareToBranch},#{source,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},#{memo},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.PackageType">
	    UPDATE packagetype SET
          storeid=#{storeId},
          name=#{name},
          saleprice=#{salePrice},
          count=#{count},
          expire=#{expire},
          timeunit=#{timeUnit,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
          sharetobranch=#{shareToBranch},
          source=#{source,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
          status=#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
          memo=#{memo},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>

	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="mscResultMap">
	    SELECT
          t.id,
          t.storeid,
          t.name,
          t.saleprice,
          t.count,
          t.expire,
          t.timeunit,
          t.sharetobranch,
          t.source,
          t.status,
          t.memo,          
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  packagetype t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="name != null and name != ''">
              and t.code=#{code}
           </if>
           <if test="memo != null and name != ''">
              and t.code=#{code}
           </if>
           <if test="status != null and status != ''">
              and t.status=#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
           </if>
           <if test="storeid != null and storeid != ''">
              and t.storeid=#{storeId}
           </if>                  
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from packagetype t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="name != null and name != ''">
              and t.code=#{code}
           </if>
           <if test="memo != null and name != ''">
              and t.code=#{code}
           </if>
           <if test="status != null and status != ''">
              and t.status=#{status,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
           </if>
           <if test="storeid != null and storeid != ''">
              and t.storeid=#{storeId}
           </if>
	</select>	
</mapper>