<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.domain.IPermRoleRelationDao">
	<resultMap id="permRoleRelationResultMap" type="com.mingdao.domain.PermRoleRelation">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="permissionId" javaType="string" jdbcType="VARCHAR" column="permissionid"/>
		<result property="roleId" javaType="string" jdbcType="VARCHAR" column="roleid"/>
		<result property="creator" javaType="long" jdbcType="INTEGER" column="creator"/>
		<result property="createTime" javaType="string" jdbcType="VARCHAR" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="INTEGER" column="modifier"/>
		<result property="modifiedTime" javaType="string" jdbcType="VARCHAR" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.PermRoleRelation" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO perm_role_relation
        (permissionid,roleid,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{permissionId},#{roleId},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.PermRoleRelation">
	    UPDATE perm_role_relation SET
          permissionid=#{permissionId},
          roleid=#{roleId},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="permRoleRelationResultMap">
	    SELECT
          t.id,
          t.permissionid,
          t.roleid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  perm_role_relation t where 1=1
           <if test="permissionid != null">
              and t.permissionid=#{permissionId}
           </if>
           <if test="roleid != null">
              and t.roleid=#{roleId}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from perm_role_relation t where 1=1
           <if test="permissionid != null">
              and t.permissionid=#{permissionId}
           </if>
           <if test="roleid != null">
              and t.roleid=#{roleId}
           </if>
	</select>
	
</mapper>