<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IPerssionDao">
	<resultMap id="perssionResultMap" type="com.mingdao.domain.Permission">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="perssionCode" javaType="string" jdbcType="VARCHAR" column="perssioncode"/>
		<result property="perssionName" javaType="string" jdbcType="VARCHAR" column="perssionname"/>
		<result property="perssionMemo" javaType="string" jdbcType="VARCHAR" column="perssionmemo"/>
		<result property="creator" javaType="long" jdbcType="INTEGER" column="creator"/>
		<result property="createTime" javaType="string" jdbcType="VARCHAR" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="INTEGER" column="modifier"/>
		<result property="modifiedTime" javaType="string" jdbcType="VARCHAR" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.Permission" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO perssion
        (perssioncode,perssionname,perssionmemo,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{perssionCode},#{perssionName},#{perssionMemo},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.Permission">
	    UPDATE perssion SET
          perssioncode=#{perssionCode},
          perssionname=#{perssionName},
          perssionmemo=#{perssionMemo},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="perssionResultMap">
	    SELECT
          t.id,
          t.perssioncode,
          t.perssionname,
          t.perssionmemo,
          t.usercode,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="perssioncode != null">
              and t.perssioncode=#{perssionCode}
           </if>
           <if test="perssionname != null">
              and t.perssionname=#{perssionName}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from perssion t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="perssioncode != null">
              and t.perssioncode=#{perssionCode}
           </if>
           <if test="perssionname != null">
              and t.perssionname=#{perssionName}
           </if>
	</select>	
</mapper>