<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IProductClassDao">
	<resultMap id="productClassResultMap" type="com.mingdao.domain.ProductClass">
		<id property="id" javaType="long" jdbcType="BIGINT" column="id" />
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
	    <result property="storeId" javaType="long" jdbcType="BIGINT" column="storeid"/>
	    <result property="parentId" javaType="long" jdbcType="BIGINT" column="parentid"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.ProductClass" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO product_class
        (code,name,storeid,parentid,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{code},#{name},#{storeId},#{parentId},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.ProductClass">
	    UPDATE product_class SET
          code=#{code},
          name=#{name},
          storeid=#{storeId},
          parentid=#{parentId},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>

	<select id="batchQueryByCondition" parameterType="java.util.Map" resultMap="productClassResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.storeid,
          t.parentid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  product_class t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="storeId != null">
              and t.storeid=#{storeId}
           </if>            
           <if test="parentId != null">
              and t.parentid=#{parentId}
           </if>           
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="productClassResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.storeid,
          t.parentid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  product_class t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="storeid != null">
              and t.storeid=#{storeId}
           </if>           
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from product_class t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="storeid != null">
              and t.storeid=#{storeId}
           </if>           
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>
	
    <delete id="deleteDocById" parameterType="long">
        delete from product_class  where id = #{id}
    </delete>

	<select id="queryById" parameterType="long" resultMap="productClassResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.storeid,
          t.parentid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  product_class t where id=#{id}
	</select>

	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="productClassResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.storeid,
          t.parentid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
		FROM product_class t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
	</select>	
	
</mapper>