<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IRoleDao">
	<resultMap id="roleResultMap" type="com.mingdao.domain.Role">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="roleCode" javaType="string" jdbcType="VARCHAR" column="rolecode"/>
		<result property="roleName" javaType="string" jdbcType="VARCHAR" column="rolename"/>
		<result property="roleMemo" javaType="string" jdbcType="VARCHAR" column="rolememo"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.Role" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO role
        (rolecode,rolename,rolememo,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{roleCode},#{roleName},#{roleMemo},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.Role">
	    UPDATE role SET
            <if test="roleCode!=null"> rolecode=#{roleCode},</if>
            <if test="roleName!=null">rolename=#{roleName},</if>
            <if test="roleMemo!=null"> rolememo=#{roleMemo},</if>
            <if test="creator!=null">creator=#{creator},</if>
            <if test="createTime!=null">createtime=#{createTime},</if>
            <if test="modifier!=null">modifier=#{modifier},</if>
            <if test="modifiedTime!=null">modifiedtime=#{modifiedTime}</if>
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="roleResultMap">
	    SELECT
          t.id,
          t.rolecode,
          t.rolename,
          t.rolememo,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="roleName != null">
              and t.rolename=#{roleName}
           </if>
           <if test="roleCode != null">
              and t.rolecode=#{roleCode}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="roleName != null">
              and t.rolename=#{roleName}
           </if>
           <if test="roleCode != null">
              and t.rolecode=#{roleCode}
           </if>
	</select>

    <delete id="deleteDocById" parameterType="long">
        delete from role  where id = #{id}
    </delete>

	<select id="queryById" parameterType="long" resultMap="roleResultMap">
	    SELECT
          t.id,
          t.rolecode,
          t.rolename,
          t.rolememo,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  role t where id=#{id}
	</select>

	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="roleResultMap">
	    SELECT
          t.id,
          t.rolecode,
          t.rolename,
          t.rolememo,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
		FROM role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="roleName != null">
              and t.rolename=#{roleName}
           </if>
           <if test="roleCode != null">
              and t.rolecode=#{roleCode}
           </if>
	</select>
		
</mapper>