<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.dao.base.IWeChetInfoDao">
	<resultMap id="weChetInfoResultMap" type="com.mingdao.domain.WeChatInfo">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="wxNickName" javaType="string" jdbcType="VARCHAR" column="wxnickname"/>
		<result property="followTime" javaType="string" jdbcType="VARCHAR" column="followtime"/>
	    <result property="customerId" javaType="long" jdbcType="INTEGER" column="customerid"/>
		<result property="followStatus" javaType="boolean" jdbcType="BOOLEAN" column="followstatus"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.WeChatInfo" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO wechatinfo
        (wxnickname,followtime,followstatus,customerid,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{wxNickName},#{followTime},#{followStatus},#{customerId},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
		
	<update id="updateVO" parameterType="com.mingdao.domain.WeChatInfo">
	    UPDATE wechatinfo SET
        <if test="wxNickName!=null">  wxnickname=#{wxNickName},</if>
        <if test="followTime!=null">followtime=#{followTime},</if>
        <if test="followStatus!=null"> followstatus=#{followStatus},</if>
        <if test="customerId!=null">customerid=#{customerId},</if>
        <if test="creator!=null">creator=#{creator},</if>
        <if test="createTime!=null">createtime=#{createTime},</if>
        <if test="modifier!=null">modifier=#{modifier},</if>
        <if test="modifiedTime!=null">modifiedtime=#{modifiedTime}  </if>
        WHERE id=#{id}
	</update>
	
	
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="weChetInfoResultMap">
	    SELECT
          t.id,
          t.wxnickname,
          t.followtime,
          t.followstatus,
          t.customerid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  wechatinfo t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="wxNickName != null">
              and t.wxnickname=#{wxNickName}
           </if>
           <if test="followStatus != null">
              and t.followstatus=#{followStatus!=null}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from wechatinfo t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="wxNickName != null">
              and t.wxnickname=#{wxNickName}
           </if>
           <if test="followStatus != null">
              and t.followstatus=#{followStatus!=null}
           </if>
	</select>
    <delete id="deleteDocById" parameterType="int">
        delete from wechatinfo  where id = #{id}
    </delete>
    
	<select id="queryById" parameterType="long" resultMap="weChetInfoResultMap">
	    SELECT
          t.id,
          t.wxnickname,
          t.followtime,
          t.followstatus,
          t.customerid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  wechatinfo t where id=#{id}
	</select>
	
	<select id="singleQueryByCondition" parameterType="java.util.Map" resultMap="weChetInfoResultMap">
	    SELECT
          t.id,
          t.wxnickname,
          t.followtime,
          t.followstatus,
          t.customerid,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
		FROM wechatinfo t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="wxNickName != null">
              and t.wxnickname=#{wxNickName}
           </if>
           <if test="followStatus != null">
              and t.followstatus=#{followStatus!=null}
           </if>
	</select>	
</mapper>