<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.domain.IWeChetInfoDao">
	<resultMap id="weChetInfoResultMap" type="com.mingdao.domain.WeChatInfo">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="mnname" javaType="string" jdbcType="VARCHAR" column="mnname"/>
	    <result property="storeId" javaType="long" jdbcType="INTEGER" column="storeid"/>
	    <result property="tel" javaType="string" jdbcType="VARCHAR" column="tel"/>
		<result property="address" javaType="string" jdbcType="VARCHAR" column="address"/>
	    <result property="relationcust" javaType="long" jdbcType="INTEGER" column="relationcust"/>
		<result property="creator" javaType="long" jdbcType="INTEGER" column="creator"/>
		<result property="sex" javaType="int" jdbcType="INTEGER" column="sex"/>
		<result property="status" javaType="boolean" jdbcType="BOOLEAN" column="status"/>
		<result property="creator" javaType="long" jdbcType="BIGINT" column="creator"/>
		<result property="createTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="BIGINT" column="modifier"/>
		<result property="modifiedTime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.WeChatInfo" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO wechatinfo
        (code,mnname,storeid,tel,address,relationcust,sex,status,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{code},#{mnname},#{storeId},#{tel},#{address},#{relationcust},#{sex},#{status},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.WeChatInfo">
	    UPDATE wechatinfo SET
          code=#{code},
          mnname=#{mnname},
          storeid=#{storeId},
          tel=#{tel},
          address=#{address},
          relationcust=#{relationcust},
          sex=#{sex},
          status=#{status},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="weChetInfoResultMap">
	    SELECT
          t.id,
          t.code,
          t.mnname,
          t.storeid,
          t.tel,
          t.address,
          t.relationcust,
          t.sex,
          t.status,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  wechatinfo t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="mnname != null">
              and t.mnname=#{mnname}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="mnname != null">
              and t.mnname=#{mnname}
           </if>
	</select>
	
	
</mapper>