<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingdao.domain.IWeChatOrderDao">
	<resultMap id="weChatOrderResultMap" type="com.mingdao.domain.WeChatOrder">
		<id property="id" javaType="long" jdbcType="INTEGER" column="id" />
		<result property="code" javaType="string" jdbcType="VARCHAR" column="code"/>
		<result property="name" javaType="string" jdbcType="VARCHAR" column="name"/>
	    <result property="storeId" javaType="long" jdbcType="INTEGER" column="storeid"/>
	    <result property="billno" javaType="string" jdbcType="VARCHAR" column="billno"/>
		<result property="project" javaType="string" jdbcType="VARCHAR" column="address"/>
	    <result property="cust" javaType="long" jdbcType="INTEGER" column="cust"/>
	    <result property="employee" javaType="long" jdbcType="INTEGER" column="employee"/>
	    <result property="emplyeetime" javaType="string" jdbcType="VARCHAR" column="emplyeetime"/>
	    <result property="tel" javaType="string" jdbcType="VARCHAR" column="tel"/>
	    <result property="platNumber" javaType="string" jdbcType="VARCHAR" column="plannumber"/>
	    <result property="orderresource" javaType="int" jdbcType="INTEGER" column="name" typeHandler="cn.com.shuyangyang.mybatis.EnumStatusHandler"/>
	    <result property="sex" javaType="int" jdbcType="INTEGER" column="sex" typeHandler="cn.com.shuyangyang.mybatis.EnumStatusHandler"/>
	    <result property="status" javaType="int" jdbcType="INTEGER" column="status" typeHandler="cn.com.shuyangyang.mybatis.EnumStatusHandler"/>
	    <result property="meno" javaType="string" jdbcType="VARCHAR" column="meno"/>
		<result property="creator" javaType="long" jdbcType="INTEGER" column="creator"/>
		<result property="createTime" javaType="string" jdbcType="VARCHAR" column="createtime"/>
		<result property="modifier" javaType="long" jdbcType="INTEGER" column="modifier"/>
		<result property="modifiedTime" javaType="string" jdbcType="VARCHAR" column="modifiedtime"/>
	</resultMap>
	
	<insert id="insertVO" parameterType="com.mingdao.domain.WeChatOrder" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO wechatorder
        (code,name,storeid,tel,billno,project,cust,employee,emplyeetime,platnumber,orderresource,sex,status,meno,creator,createtime,modifier,modifiedtime)
        VALUES
        (#{code},#{name},#{storeId},#{tel},#{billno},#{project},#{cust},#{employee},#{emplyeetime},#{platNumber},#{orderresource},#{sex},#{status},#{meno},#{creator},#{createTime},#{modifier},#{modifiedTime})
	</insert>
	
	<update id="updateVO" parameterType="com.mingdao.domain.WeChatOrder">
	    UPDATE wechatinfo SET
          code=#{code},
          name=#{name},
          meno=#{meno},
          storeid=#{storeId},
          tel=#{tel},
          employee=#{employee},
          project=#{project},
          sex=#{sex},
          status=#{status},
          creator=#{creator},
          createtime=#{createTime},
          modifier=#{modifier},
          modifiedtime=#{modifiedTime}
        WHERE id=#{id}
	</update>
	
	<select id="pageQueryByCondition" parameterType="java.util.Map" resultMap="weChatOrderResultMap">
	    SELECT
          t.id,
          t.code,
          t.name,
          t.meno,
          t.storeid,
          t.tel,
          t.billno,
          t.project,         
          t.cust,
          t.employee,
          t.emplyeetime,
          t.tel,
          t.platNumber,
          t.orderresource,
          t.sex,
          t.status,
          t.creator,
          t.createtime,
          t.modifier,
          t.modifiedtime
        FROM  wechatinfo t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="name != null">
              and t.name=#{name}
           </if>
           <if test="billno != null">
              and t.billno=#{billno}
           </if>
	</select>
	
	<select id="getCountByCondition" parameterType="java.util.Map" resultType="int">
		select
		   count(1)
		from role t where 1=1
           <if test="id != null">
              and t.id=#{id}
           </if>
           <if test="code != null">
              and t.code=#{code}
           </if>
           <if test="mnname != null">
              and t.mnname=#{mnname}
           </if>
           <if test="billno != null">
              and t.billno=#{billno}
           </if>
	</select>
	
	
</mapper>